.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.example-card {
  max-width: 400px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px 4px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}
