<form class="example-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

  <mat-card class="example-card">
    <mat-progress-bar mode="indeterminate" value="40" style="margin-bottom: 10px" *ngIf="onSubmitted"></mat-progress-bar>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Cadastro de pessoas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nome" formControlName="name">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput placeholder="Salário R$" type="Number" min="0" formControlName="salary">
              </label>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" [disabled]="onSubmitted">Salvar</button>
      <button mat-button mat-raised-button color="warn" (click)="resetForm()">Limpar</button>
    </mat-card-actions>
  </mat-card>
</form>
