<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> Código</th>
    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nome</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="salary">
    <th mat-header-cell *matHeaderCellDef> Salário</th>
    <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
  </ng-container>

  <ng-container matColumnDef="typeSocialClass">
    <th mat-header-cell *matHeaderCellDef> Classe Social</th>
    <td mat-cell *matCellDef="let element"> {{element.typeSocialClass}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
